PORT=3004
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_RETRY_ATTEMPTS=20
REDIS_RETRY_DELAY_MS=1000
PRESENCE_TTL_MS=60000
PRESENCE_PATTERN=presence.changed
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=broker_suite
POSTGRES_PASSWORD=broker_suite
POSTGRES_DB=broker_suite
POSTGRES_POOL_MAX=10
